OrderProcessingSystemDotnet/.vs/*
OrderProcessingSystemDotnet/.vs/OrderProcessingSystemDotnet/v17/.suo
*.v2
*.sentinel
*.suo
OrderProcessingSystemDotnet\.vs
/OrderProcessingSystemDotnet/OrderProcessingSystemDotnet/obj
/OrderProcessingSystemDotnet/OrderProcessingSystemDotnet/obj/Debug
/OrderProcessingSystemDotnet/OrderProcessingSystemDotnet/obj/Debug/net6.0
